ansible==2.0.2.0
APScheduler==3.1.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
certifi==2016.2.28
decorator==4.0.9
ecdsa==0.13
funcsigs==1.0.2
futures==3.0.5
ipdb==0.10.0
ipython==4.2.0
ipython-genutils==0.1.0
Jinja2==2.8
MarkupSafe==0.23
meld3==1.0.2
paramiko==1.16.0
pathlib2==2.1.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
pycrypto==2.6.1
pyte==0.5.2
pytz==2016.4
PyYAML==3.11
rarfile==2.8
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.0.12
supervisor==3.2.3
tornado==4.3
traitlets==4.2.1
tzlocal==1.2.2
wcwidth==0.1.6